.modal {
  .modal__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  .modal__content {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .modal__button-wrapper {
    background-color: #F2F2F2;
  }

  .modal__button {
    color:white;
  }
}
